node_modules/*
app/demo/demo_logo.html
app/bower_components/jquery/*
!app/bower_components/jquery/dist/
app/bower_components/jquery/dist/core.js
app/bower_components/jquery/dist/jquery.js
app/bower_components/jquery/dist/jquery.min.map
app/bower_components/jquery/dist/jquery.slim.js
app/bower_components/jquery/dist/jquery.slim.min.js
app/bower_components/jquery/dist/jquery.slim.min.map
