.u-margin-top {
  &--0 {
    margin-top: 0;
  }
  &--xs {
    margin-top: $space-xs;
  }
  &--s {
    margin-top: $space-s;
  }
  &--m {
    margin-top: $space-m;
  }
  &--l {
    margin-top: $space-l;
  }
}
.u-margin-bottom {
  &--0 {
    margin-bottom: 0;
  }
  &--xs {
    margin-bottom: $space-xs;
  }
  &--s {
    margin-bottom: $space-s;
  }
  &--m {
    margin-bottom: $space-m;
  }
  &--l {
    margin-bottom: $space-l;
  }
}
